body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  border: 5px solid black;
}

.product-title {
  background-color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
}

.price {
  font-size: 20px;
}

.free-shipping {
  font-size: 12px;
  text-transform: uppercase;
  color: #777;
  font-weight: bold;
}

.product-detail {
  text-transform: uppercase;
}

ul {
  list-style: square;
}

.more-info:link,
.more-info:visited {
  color: #000;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.add-cart {
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
}
