* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  width: 825px;
  margin: 50px auto;
  border: 5px solid black;
}

.product-title {
  background-color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

.price {
  font-size: 20px;
}

.free-shipping {
  font-size: 12px;
  text-transform: uppercase;
  color: #777;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-desc {
  margin-bottom: 20px;
}

.link {
  margin-bottom: 30px;
}
.more-info:link,
.more-info:visited {
  color: #000;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.product-detail {
  text-transform: uppercase;
  margin-bottom: 20px;
}

ul {
  padding-left: 25px;
  list-style: square;
}

li {
  margin-bottom: 10px;
}

.add-cart {
  width: 100%;
  padding: 20px;
  border: none;
  border-top: 5px solid black;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}
