* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  width: 825px;
  margin: 50px auto;
  border: 5px solid black;
  position: relative;
}

.product-title {
  background-color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

.price {
  font-size: 30px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.free-shipping {
  font-size: 15px;
  text-transform: uppercase;
  color: #777;
  font-weight: bold;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  float: right;
}

.product-desc {
  margin-bottom: 20px;
  clear: both;
}

.link {
  margin-bottom: 30px;
}
.more-info:link,
.more-info:visited {
  color: #000;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.product-detail {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  padding-left: 25px;
  list-style: square;
}

li {
  margin-bottom: 10px;
}

.add-cart {
  width: 100%;
  padding: 20px;
  border: none;
  border-top: 5px solid black;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

.sale {
  display: inline-block;
  background-color: #ec2f2f;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 7px 14px;
  position: absolute;
  top: -17px;
  left: -38px;
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.color-6 {
  display: inline-block;
  padding: 15px 13px;
  /* margin-bottom: 20px; */
  margin-right: 10px;
}
.color-1 {
  background-color: #000;
}

.color-2 {
  background-color: #2f6ee2;
}

.color-3 {
  background-color: #ec2f2f;
}

.color-4 {
  background-color: #f0ef1e;
}

.color-5 {
  background-color: #90cc20;
}

.color-6 {
  background-color: #885214;
  margin-right: 0;
}

.shoe-img {
  float: left;
  margin-right: 30px;
}

.product-info {
  /* background-color: red; */
  width: 243px;
  float: left;
  margin-right: 30px;
  /* padding-left: 20px; */
}
.product-details {
  /* background-color: green; */
  width: 243px;
  float: left;
  /* padding: 15px; */
}
