/* =========================================
   1. RESET
   ========================================= */
* {
  /* border-top: 2px solid blue; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================================
   2. BASE & LAYOUT
   ========================================= */
body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* position: relative; */
}

/* =========================================
   3. TYPOGRAPHY
   ========================================= */
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
  /* border: 1px solid black; */
}

h2::after {
  content: "TOP";
  display: inline-block;
  color: #444;
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

/* h3 + p::first-line {
  color: red;
} */

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  /* margin-bottom: 15px; */
  /* display: inline; */
}

/* =========================================
   4. LISTS
   ========================================= */
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  /* display: inline; */
}

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  margin-bottom: 0;
  font-style: italic;
}

/* li:nth-child(even) {
  color: red;
} */

/* =========================================
   5. GLOBAL LINKS
   ========================================= */
/* LVHA */

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* =========================================
   6. HEADER & NAVIGATION
   ========================================= */
.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  /* margin-bottom: 60px; */
  /* height: 80px; */
}

nav {
  font-size: 18px;
  /* text-align: center; */
}

nav a:link {
  /* background-color: orangered;
  margin: 20px;
  padding: 20px; */
  display: inline-block;
  margin-right: 30px;
  /* margin-top: 10px; */
}

nav a:link:last-child {
  margin-right: 0;
}

/* =========================================
   7. ARTICLE & POSTS
   ========================================= */
/* article {
  margin-bottom: 60px;
} */

/* Misconception, this won't work
article p:first-child {
  color: red;
} */

.post-header {
  margin-bottom: 40px;
  /* position: relative; */
}

.post-img {
  width: 100%;
  height: auto;
}

#author {
  font-style: italic;
  font-size: 18px;
}

/* =========================================
   8. SIDEBAR (ASIDE)
   ========================================= */
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
}

.related {
  list-style: none;
  margin-left: 0;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* =========================================
   9. UI ELEMENTS (BUTTONS)
   ========================================= */
button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  /* top: 50px;
  left: 50px; */
  bottom: 50px;
  right: 50px;
}

/* =========================================
   10. FOOTER & CONFLICT RESOLUTION
   ========================================= */
#copyright {
  font-size: 16px;
}

/* Resolving conflicts

#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
} */

/* 
FLOATS

.author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

.author-img {
  float: left;
  margin-bottom: 20px;
}

h1 {
  float: left;
}

nav {
  float: right;
}
 
.clear {
  clear: both;
} 

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

article {
  width: 825px;
  float: left;
}

aside {
  width: 300px;
  float: right;
}

footer {
  clear: both;
} 
*/

/* FLEXBOX */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-container {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;
}

.related-post {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}

.related-link:link {
  display: block;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
}

.related-author {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
/* 
.main-content {
  display: flex;
  gap: 75px;
  margin-bottom: 60px;
  align-items: flex-start;
}

article {
  flex: 1;
  margin-bottom: 0;
}

aside {
  flex: 0 0 300px;
} */

.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  align-items: start;
  justify-content: center;
  row-gap: 60px;
  column-gap: 75px;
  margin-bottom: 15px;
}

.main-header {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

footer {
  grid-column: 1/-1;
}
